
/* selecteur(s) {
propriété: valeur;
propriété: valeur;
propriété: valeur;
} */

@font-face {
    font-family: "lineal";
    src: url(Lineal.otf) format("opentype");
}

h1 {
  color: rgb(2, 48, 48);
    font-size: 48px;
    text-align : center;
    font-family: "lineal";
}

graphic design student{
    color:rgb(2, 48, 48);
}
body {
    background-color: rgb(255, 255, 255);
    color:rgb(107, 107, 107) ;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    display: grid;
}