body{
    background-color: #81d7ff;
}

img{
    max-width: 200px;
}
p{
    color:black;
    font-family: 'Be Vietnam Pro', sans-serif;
}
h1{
    font-size: 100px;
    font-family: 'Fredoka One', cursive;
    color: rgb(250, 94, 67);
    writing-mode: vertical-lr;
    }

.grid-container{
    display: grid;
    grid-template-columns: 2fr,40%;
    grid-template-rows: 4fr;
}

h2 {
    font-family: 'Fredoka One', cursive;
    color: rgb(250, 94, 67);
}
h4 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgb(250, 94, 67);
}
h3{
    font-family: 'Fredoka One', cursive;
    color: rgb(250, 94, 67);
}

.top-container{
    max-width: 500px;
    margin:0 auto;
}


    .social-media {
        height: 60px;
      color:#81d7ff ;
    }

    .right-col {
        background-color: #75e3dd;
        }