body{
margin: 0;
padding: 0;
}

.grid {
    padding:0; 
  margin:12px;
  display:grid; 
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-gap: 0;
  gap:0; 
  border: solid 2px cornsilk;
}

.child1{
    grid-column-start: 1;
    grid-column-end:8;

}